{% extends "base.html" %}
{% block link %}
  <link rel="stylesheet" href={{
    url_for('static', filename='css/booking.css') }} />
  {% endblock link %}
  {% block
    main %}
    <div class="booking-container">
      <div class="booking-wrapper">
        <div id="bookingAttraction" class="booking bottom-line">
          <div class="booking-title title">
            您好，<span id="name"></span>，待預定的行程如下：
          </div>
          <div id="noBooking" class="no-booking content none">目前沒有任何待預定的行程</div>
          <div id="bookingContent" class="booking-content none">
            <div class="attraction-image">
              <img id="attractionImage"/>
            </div>
            <div class="booking-info">
              <div class="booking-attraction-name left-center title">
                台北一日遊：
                <span id="bookingAttractionName" class="left-center title"></span>
              </div>
              <div class="booking-attraction-info left-center title">
                日期：<span id="bookingDate" class="content"></span>
              </div>
              <div class="booking-attraction-info left-center title">
                時間：<span id="bookingTime" class="content"></span>
              </div>
              <div class="booking-attraction-info left-center title">
                費用：<span id="bookingPrice" class="content"></span>
              </div>
              <div class="booking-attraction-info left-center title">
                地點：<span id="bookingAttractionAddress" class="content"></span>
              </div>
            </div>
            <div id="delete" class="delete none">
              <img src={{ url_for("static", filename="images/icon_delete.png") }} />
            </div>
          </div>
        </div>
        <div id="bookingContact" class="booking bottom-line none">
          <div class="booking-title title">您的聯絡資訊：</div>
          <div class="booking-required-info">
            <div class="info-input content">
              <span>聯絡姓名：</span>
              <input type="text" id="contactName" class="correct-input"/>
            </div>
            <div class="info-input content">
              <span>聯絡信箱：</span>
              <input type="email" id="contactMail" class="correct-input"/>
            </div>
            <div class="info-input content">
              <span>手機號碼：</span>
              <input type="tel" id="contactPhone" class="correct-input"/>
            </div>
          </div>
          <div class="contact-remind title">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式</div>
        </div>
        <div id="bookingCreditCard" class="booking bottom-line none">
          <div class="booking-title title">信用卡付款資訊</div>
          <div class="booking-required-info credit-card">
            <div class="info-input content">
              <span>卡片號碼：</span>
              <input id="cardNumber"
                     placeholder="**** **** **** ****"
                     class="correct-input"/>
            </div>
            <div class="info-input content">
              <span id="invalidDate">過期時間：</span>
              <input placeholder="MM/YY" class="correct-input"/>
            </div>
            <div class="info-input content">
              <span id="CVV">驗證密碼：</span>
              <input placeholder="CVV" class="correct-input"/>
            </div>
          </div>
        </div>
        <div id="bookingConfirm" class="booking right-center none">
          <div class="booking-confirm">
            <div class="title">
              總價：新台幣<span id="price"></span>元
            </div>
            <div>
              <input type="button" value="確認訂購並付款" />
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block script %}
      <script type="module" src={{ url_for("static", filename="js/booking.js") }}>
      </script>
    {% endblock script %}
  {% endblock main %}
