@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-size: 16px;
}

html {
  height: 100vh;
}

body {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

.title{
  font-weight: 700;
  color: #666666;
}

.content{
  font-weight: 500;
  color: #666666;
}

.navigation-bar-container {
  height: 54px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.navigation-bar {
  width: 1200px;
  height: 34px;
  display: grid;
  grid-template-columns: auto 90px 90px;
  align-items: center;
}

.navigation-bar > div:first-child {
  width: 150px;
  height: 34px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: left;
  color: #448899;
}

.navigation-bar > div:first-child ~ div {
  height: 14px;
  justify-self: end;
  font-weight: 500;
  text-align: right;
  line-height: 13px;
}

.navigation-bar div:nth-child(2) {
  width: 64px;
}

.navigation-bar div:last-child {
  width: 71px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 104px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #757575;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 1200px) {
  .navigation-bar {
    width: 90vw;
  }
}
