@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

nav {
  border-bottom: 1px solid #e8e8e8;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 37px 0 200px 0;
}

.wrapper > div {
  width: 1200px;
}

.mask-on {
  position: absolute;
  z-index: 4;
  background-color: #ffffff;
  min-width: 100%;
  min-height: 100%;
}

.attraction-loader {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.attraction-semi-circle {
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.attraction-circle {
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.attraction-count {
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  font-size: 15px;
}

.image-and-info {
  display: grid;
  grid-template-columns: 540px auto;
  gap: 30px;
  padding-bottom: 37px;
}

.images-container {
  position: relative;
  border-radius: 5px;
}

.sliders {
  height: 406px;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.fade-in-and-out {
  animation: fadeIn 1s ease-in-out;
}

.attraction-image {
  width: 540px;
  height: 100%;
}

.arrow {
  position: absolute;
  bottom: calc(50% - 10px);
  z-index: 3;
  opacity: 0.75;
  border-radius: 50%;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.6;
}

.left {
  left: 10px;
}

.left:hover {
  animation: slideLeft 1s linear infinite;
}

.right {
  right: 10px;
}

.right:hover {
  animation: slideRight 1s linear infinite;
}

#paginationDots {
  position: absolute;
  width: 100%;
  bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#paginationDots > div div {
  min-width: 10px;
  min-height: 10px;
  border: 2px solid #ffffff;
  margin: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.75;
}

#attractionName {
  font-size: 24px;
  margin-bottom: 15px;
}

#attractionCtegoryAndMrt {
  margin-bottom: 20px;
}

.booking-info {
  height: 283px;
  background-color: #e8e8e8;
  border-radius: 5px;
  padding: 15px 20px;
}

.booking-items {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

#date {
  width: 193px;
  height: 25px;
  color: #000000;
  padding: 5px 10px;
  margin-left: 5px;
}

.correct-date:focus {
  border: solid 2px #448899;
}

.error-date {
  border: solid 1px #ff0000;
}

#time {
  display: flex;
  justify-content: flex-start;
}

.radiobox {
  min-width: 18px;
  min-height: 18px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}

.unchecked {
  background-color: #fff;
}

.checked {
  background-color: #489;
}

.morning-afternoon {
  margin-left: 4px;
  margin-right: 8px;
}

#charge {
  margin-bottom: 25px;
}

.buttons {
  width: 228px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  gap: 10px;
}

#addToCart {
  width: 114px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 19px;
  color: #fff;
  background-color: rgb(70, 184, 212);
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#addToCart:hover {
  color: #fff;
  background-color: rgb(73, 170, 194);
}

#booking {
  width: 114px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  background-color: #489;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#booking:hover {
  background-color: #2f5d69;
}

.added-cart {
  position: relative;
  top: -100px;
  left: -40px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  z-index: 999;
}

.added-cart-popup {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  justify-items: center;
  align-items: center;
}

.added-cart img {
  width: 100px;
  height: 100px;
}

.added-cart div {
  color: #fff;
}

.content-wrapper {
  padding: 50px 10px;
  border-top: 1px solid #e8e8e8;
  grid-column-start: 1;
  grid-column-end: 3;
}

.content-wrapper .content {
  margin-bottom: 20px;
  font-weight: 400;
}

.container > .title {
  height: 32px;
  line-height: 13px;
  display: flex;
  align-items: center;
}

.container > .content {
  font-weight: 400;
  line-height: 23px;
}

iframe {
  margin-top: 50px;
  border-radius: 10px;
  border: solid 1px #e8e8e8;
}

@media (max-width: 1200px) {
  .wrapper > div {
    width: 95vw;
  }

  .image-and-info {
    grid-template-columns: 540px auto;
  }
}

@media (max-width: 960px) {
  .wrapper {
    margin-top: 0;
  }

  .wrapper > div {
    width: 100vw;
  }

  .image-and-info {
    display: block;
    padding-bottom: 40px;
    border-radius: 0;
  }

  .sliders {
    width: 100%;
    height: calc((400 / 540) * 100vw);
    border-radius: 0;
  }

  .attraction-image {
    width: 100vw;
  }

  .attraction-info {
    margin: 30px 10px 50px 10px;
  }

  .booking-info {
    height: auto;
  }

  .content-wrapper {
    border-top: 1px solid #e8e8e8;
    padding-right: 0;
    margin: 0 10px 0 10px;
  }
}

@media (max-width: 370px) {
  .buttons {
    grid-template-columns: 1fr;
  }
}
