@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
@import "./common.css";

/* common */
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-size: 16px;
}

html {
  height: 100vh;
}

body {
  position: relative;
  min-height: 100vh;
}

main {
  width: 100vw;
  min-height: calc(100vh - 158px);
}

a {
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.title {
  font-weight: 700;
  color: #666666;
}

.content {
  font-weight: 500;
  color: #666666;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-top {
  display: flex;
  justify-content: center;
}

.left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-top {
  display: flex;
  justify-content: flex-start;
  align-items: top;
}

.none {
  display: none;
}

.visiblity-hidden {
  visibility: hidden;
}

.top-line {
  border-top: 1px solid #e8e8e8;
}

.bottom-line {
  border-bottom: 1px solid #e8e8e8;
}

/* header */
nav {
  height: 54px;
  display: grid;
  justify-items: center;
  align-items: center;
}

nav .navigation-bar {
  width: 1200px;
  height: 54px;
  display: grid;
  grid-template-columns: auto 50px 50px;
  align-items: center;
}

#redirectToHome {
  width: 200px;
  height: 34px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: left;
  color: #448899;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

#redirectToHome:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.navigation-bar > div:first-child ~ div {
  justify-self: end;
  font-weight: 500;
  text-align: center;
  line-height: 13px;
  cursor: pointer;
}

.navigation-bar > div:first-child ~ div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.navigation-bar div:nth-child(2) {
  position: relative;
  width: 64px;
}

#cart img {
  width: 30px;
  height: 30px;
}

.cart-count {
  position: absolute;
  right: 5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #489;
  color: #fff;
  font-size: 5px;
  padding: 5px;
  z-index: 5;
}

.menu-container {
  display: none;
  padding: 10px;
}

.menu {
  display: none;
  width: 20px;
  height: 20px;
}

/* user */
.navbar-avatar-container {
  width: 32px;
  height: 32px;
  padding: 1px;
  border-radius: 50%;
  border: 2px solid #666;
}

.navbar-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a9a6a6;
  overflow: hidden;
}

.user-bubble {
  position: absolute;
  top: 54px;
  right: calc((100vw - 1200px) / 2);
  width: 200px;
  z-index: 998;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  -webkit-box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
  box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
  height: 0;
  transition: height 200ms;
}

.increase-height {
  height: 140px;
}

.show-user-bubble-content {
  font-size: 19;
  padding: 10px;
  color: #666;
}

.user-bubble-top {
  border-radius: 5px 5px 0 0;
}

.user-bubble-bottom {
  border-radius: 0 0 5px 5px;
}

.user-bubble div:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.show-user-auth {
  font-weight: 700;
  color: #489;
  border-top: 2px solid #ccc;
  margin-top: 10px;
}

/* modal */
@keyframes down {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.modal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.show {
  visibility: visible;
  transition: 0.3s ease;
}

.hidden {
  transition: 0.3s ease;
}

.modal {
  position: absolute;
  top: 80px;
  width: 340px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 60px #aaa;
  padding-bottom: 15px;
  visibility: hidden;
}

.popup {
  animation: down 0.5s ease-in-out;
  visibility: visible;
  transition: 0.3s ease-in-out;
}

.close {
  animation: up 0.5s ease;
  transition: 0.3s ease;
}

.modal-border {
  position: relative;
  top: 0;
  min-height: 10px;
  min-width: 340px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 6px 6px 0 0;
}

.close-icon {
  position: relative;
  left: 313px;
  top: 17px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal-wrapper {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  justify-content: center;
}

.modal-wrapper div input {
  width: 310px;
}

.modal-title {
  height: 27px;
  font-size: 24px;
  margin-top: 10px;
}

.success {
  color: green;
}

.error {
  color: #ff0000;
}

.correct-input {
  height: 47px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.correct-input:focus {
  border: 1.5px solid #448899;
}

.error-input {
  height: 47px;
  box-sizing: border-box;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 15px;
}

.error-input:focus {
  border: 1.5px solid #ff0000;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  right: 10px;
  z-index: 3;
  cursor: pointer;
  filter: brightness(100%) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(0);
}

.sign-button {
  height: 47px;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 19px;
}

.button-able {
  background-color: #489;
  cursor: pointer;
}

.button-disabled {
  background-color: #666666;
  cursor: default;
}

.sign-change-remind {
  font-size: 16px;
}

.sign-change:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error-message {
  padding-bottom: 5px;
  font-size: 14px;
  color: red;
  max-width: 310px;
}

.show-message {
  display: flex;
  justify-content: flex-start;
  align-items: top;
}

.success-message {
  width: 300px;
  padding: 30px 5px;
}

/* footer */
footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #757575;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.common-footer {
  align-items: center;
  min-height: 104px;
}

.no-booking-footer {
  position: fixed;
  bottom: 0;
  align-items: top;
  min-height: calc(100vh - 700px);
  padding-top: 50px;
}

/* image preload */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  background-color: transparent;
}

.semi-circle {
  position: absolute;
  z-index: 6;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
  border-top: 4px solid #448899;
  border-radius: 50%;
  animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -webkit-animation: loading 1s infinite linear;
}

.circle {
  position: absolute;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 4px solid #333;
  opacity: 30%;
  border-radius: 50%;
  z-index: 4;
}

.smcircle,
.circle {
  display: block;
}

.count {
  position: absolute;
  min-width: 108px;
  min-height: 108px;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-weight: 700;
  z-index: 5;
}

.loading {
  color: #333;
}

/* media query */
@media (max-width: 1200px) {
  nav .navigation-bar {
    width: 95vw;
  }

  .user-bubble {
    right: 20px;
  }

  .menu-container {
    display: flex;
  }
}
