img {
  width: 250px;
  height: 250px;
}

h3 {
  font-size: 70px;
}

.order-result-container {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100vw;
}

.order-result-wrapper {
  margin-top: 100px;
  padding: 0 10px;
}

.title {
  margin-top: 50px;
}

.order-id {
  font-size: 40px;
  margin-top: 30px;
}

.reminder {
  font-size: 20px;
  margin-top: 30px;
}

.member-center,
.history-order {
  font-size: 20px;
  cursor: pointer;
}

.member-center:hover,
.history-order:hover {
  color: #b2aeae;
}

@media (max-width: 1000px) {
  img {
    width: 200px;
    height: 200px;
  }

  h3 {
    font-size: 40px;
  }

  .order-id {
    font-size: 30px;
  }

  .reminder {
    font-size: 20px;
  }
}
