@import "./common.css";

main {
  background-color: #e8e8e8;
  padding-top: 30px;
  display: grid;
  justify-items: center;
  align-items: top;
}

.hide-overflow {
  overflow: hidden;
}

.side-menu {
  position: absolute;
  top: 54px;
  right: 0px;
  z-index: 999;
  width: 0;
  transition: width 250ms;
}

.side-mask {
  position: absolute;
  top: 54px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  min-width: 100vw;
  height: calc(100vh - 24px);
}

.side-user-navbar {
  background-color: #fff;
  height: calc(100vh - 24px);
}

.increase-side-navbar-width {
  width: 250px;
}

.side-user-account-outlayer {
  background-color: rgb(103, 177, 195);
  padding: 5px;

}

.side-user-account-container {
  display: grid;
  grid-template-columns: 70px auto;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.side-user-account-avatar-container {
  width: 32px;
  height: 32px;
  border: 2px solid #666;
  border-radius: 50%;
  padding: 1px;
  background-color: #fff;
}

.side-user-account-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a9a6a6;
  overflow: hidden;
}

.side-user-account-name {
  font-size: 30px;
  color: #fff;
}

.side-navbar-item div {
  padding: 20px;
  font-size: 20px;
}

.side-navbar-item div:hover {
  cursor: pointer;
  background-color: #d6d6d6;
}

.user-account-container {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 20px;
  width: 1200px;
}

.user-navbar,
.user-account-info {
  background-color: #fff;
  border-radius: 5px;
}

.user-navbar {
  height: 550px;
}

.user-account-info {
  border-radius: 5px;
  height: 800px;
}

.user-account-avatar-container {
  display: grid;
  grid-template-rows: 280px 43.5px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #666;
  padding: 20px 0;
}

.user-account-avatar {
  border: 5px solid #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #a9a6a6;
  overflow: hidden;
}

.change-avatar-img-container {
  position: relative;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 2px solid #666;
}

.change-avatar-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: #489;
  border-radius: 50%;
  cursor: pointer;
}

.file-error {
  color: red;
  font-weight: 700;
  text-align: center;
  margin: 10px;
}

.user-account-name {
  font-size: 30px;
}

.navbar-item a {
  font-size: 25px;
  padding: 10px 0;
}

.navbar-item > :first-child {
  margin-top: 30px;
  margin-bottom: 10px;
}

.navbar-item div:hover {
  cursor: pointer;
  background-color: #d6d6d6;
}

@media (max-width: 1200px) {
  nav .navigation-bar {
    grid-template-columns: auto 50px 50px 50px;
  }

  .menu {
    display: block;
  }

  .user-account-container {
    display: flex;
    width: 100vw;
    justify-content: center;
  }

  .user-navbar {
    display: none;
  }
}
