<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/index.css')}}
    />
  </head>
  <body>
    <div id="outlayer">
      <div class="pop-up-container">
        <div id="form">
          <div class="pop-up-top"></div>
          <div id="close"><img src="/static/images/icon_close.png"/></div>
          <div class="form-wrapper">
            <div id="popUpTitle" class="title">登入會員帳號</div>
            <div class="user-name"><input id="username" placeholder="輸入姓名"/></div>
            <div><input id="email" placeholder="輸入電子信箱"/></div>
            <div><input id="password" placeholder="輸入密碼"/></div>
            <div id="signButton">登入帳戶</div>
            <div id="message"></div>
            <div class="signChangeRemind content"><span id="isUser">還沒有帳戶？</span><span id="signChange">點此註冊</span></div>
          </div>
        </div>
      </div>
    </div> 
    <div class="navigation-bar-container">
      <div class="navigation-bar">
        <div>台北一日遊</div>
        <div id="bookingSchedule" class="content">預定行程</div>
        <div id="userAuth" class="content"></div>
      </div>
    </div>
    <div class="banner">
      <div class="banner-content">
        <div>輕鬆享受台北一日悠閒</div>
        <div>探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search">
          <input id="search-bar" placeholder="輸入景點名稱查詢" />
          <div id="magnifier"></div>
        </div>
        <div id="category-list"></div>
      </div>
    </div>
    <div class="wrapper">
      <div id="attraction-container"></div>
    </div>
    <div class="footer"><div>COPYRIGHT © 2022 台北一日遊</div></div>
    <script type="module" src={{url_for('static', filename='js/index.js')}}></script>
  </body>
</html>
