{% extends "base.html" %}
{% block link %}
  <link rel="stylesheet" href={{
    url_for('static', filename='css/user.css') }} />
  {% endblock link %}
  {% block
    main %}
    <div id="sideMenu" class="side-menu">
      <div id="sideUserNavbar" class="side-user-navbar">
        <div id="sideUserAccount" class="side-user-account-avatar-outlayer none">
          <a class="side-user-account-avatar-container" href="/user">
            <img id="sideUserAccountAvatar" class="side-user-account-avatar" src={{ url_for("static", filename="images/icon_avatar.png") }}/>
            <div id="sideUserAccountName" class="side-user-account-name content center"></div>
          </a>
        </div>
        <div id="sideNavbarItem" class="side-navbar-item none">
          <div>
            <a class="content" href="/user">帳號設定</a>
          </div>
          <div>
            <a class="content" href="/orders">訂單管理</a>
          </div>
        </div>
      </div>
    </div>
    <div id="sideMask" class="side-mask none"></div>
    <div class="user-account-container">
      <div class="user-navbar">
        <div class="user-account-avatar-container">
          <img id="userAccountAvatar" class="user-account-avatar" src={{ url_for("static", filename="images/icon_avatar.png") }}/>
          <div id="userAccountName" class="user-account-name content center"></div>
        </div>
        <div class="navbar-item">
          <div>
            <a class="content center" href="/user">帳號設定</a>
          </div>
          <div>
            <a class="content center" href="/orders">訂單管理</a>
          </div>
        </div>
      </div>
      <div class="user-account-info">
        <div class="account-title title">帳號設定</div>
        <div type="text" class="user-info user-info-grid content">
          <div class="left-center">會員姓名：</div>
          <input id="inputName" class="input-name"/>
        </div>
        <div class="user-info user-info-grid content">
          <div class="left-center">性別：</div>
          <select class="select-sex">
            <option id="noSelect" value="">
              -請選擇-
            </option>
            <option id="male" value="1">
              男性
            </option>
            <option id="female" value="0">
              女性
            </option>
          </select>
        </div>
        <div class="user-info user-info-grid content">
          <div class="left-center">出生日期：</div>
          <input id="inputBirthday" type="date" class="input-birthday"/>
        </div>
        <div type="tel" class="user-info user-info-grid content">
          <div class="left-center">行動電話：</div>
          <input id="inputPhone" class="input-phone"/>
        </div>
        <div type="email" class="user-info user-info-grid content">
          <div class="left-center">email：</div>
          <input id="inputEmail" class="input-email"/>
        </div>
        <input id="saveButton" type="button" value="儲存" class="save-button title"/>
      </div>
    </div>
    {% block script %}
      <script type="module" src={{ url_for("static",filename="js/user.js") }}>
      </script>
    {% endblock script %}
  {% endblock main %}
